.tab-pane {
    border-left: 1px solid $border-box-gray;
    border-right: 1px solid $border-box-gray;
    border-bottom: 1px solid $border-box-gray;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}
